/*
	CSS Rules
	Selector {
		property: value;
	}
	
	or

	selector {property: value;}
*/

/*Type selector*/
/*tag name
>> specified tag
>> color- changes the font color*/

h1	{
	/*!important property has the highest priotity, using this will prioritize the property*/
	color: purple !important;
	text-align: center;
	/*rem- root element size, 1rem = 16px*/
	font-size: 2rem;
}
/*Universal Selector
>>targets all elements
>> font-family for the style of the font
>> Courier New- primary font
>> monospace - secondary font*/
*	{
	font-size: 20px;
	font-family: "Courier New", monospace;
}
/*id selector*/
#zuitt-motto{
	letter-spacing: 5px;
}
/* CSS Specificity Rules
ID selector have the highest priority for selectors*/
h3	{
	letter-spacing: 25px;
}

/*class selector*/
.offering-item {
	text-transform: uppercase;
}
/*attribute selector*/
/*tagname[attribute]*/

input[required] {
	border-width: 2px;
	border-style: solid;
	border-color: navy;
}

/*Combinator Selectors*/
/*Adjacent Sibling Selector*/
/*selectors + selectors*/
h3 + img	{
	/*height is for changing vertical dimesions of an element*/
	height: 300px;
	/*width is for changing horizontal dimensions of an element*/
	width: 300px;
	/*border-radius is for changing the corners of an element from sharp to round corner*/
	border-radius: 150px;
}

/*descendant selector*/
/*selector selector*/
#bootcamp-learning-list li {
	color: #075966;
}

/*general sibling selector*/
/*selector ~ selector*/
h2 ~ a {
	text-decoration: none;
}

/*child selector*/
/*selector > selector*/
body > section > form > label {
	color: rgb(0, 0, 128);
}

/*more styling*/

body{
	background-color: skyblue;
}

html {
	scroll-behavior: smooth;
}

nav {
	background-color: white;
}

a:hover {
	background-color: #b4d6de;
}

div {
	/*inline-block will align to its siblings*/
	display: inline-block;
	float: right;
}

/*landing section*/

section	{
/*viewport height takes in your screen size*/
	height: 100vh;
	text-align: center;
}

h2 {
	font-size: 1.5rem;
}

ol{
	list-style-type: none;
}

/*register section*/

form {
	text-align: center;
	background-color: white;
	border: 2px solid black;
	height: 225px;
	width: 25vw;
/*position relative adjusting based on the normal position*/
	position: relative;
/*37.25% of the parent (section)*/
	left: 37.25%;
}

button {
	background-color: #cf0053;
	color: white;
	border: 0;
	border-radius: 15px;
}
