#external {
	color: yellow;
}

* {
	font-family: sans-serif;
	font-size: 15px;
}

h1 {
	font-size: 30px;
}

#curriculum	{
	text-transform: uppercase;
}

.language {
	background-color: peachpuff;
}

.tools {
	border-width: 1px;
	border-style: solid;
}

img + ul {
	list-style-type: none;
}
section img {
	height: 200px;
	width: 200px;
	border-radius: 150px;
}

h4 ~ p {
	text-align: center;
}

section > ul > li {
	letter-spacing: 5px;
}